body {
    margin: 0;
    max-width: 800px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    max-width: 70%;
    margin-top: 106px;
    margin-bottom: 106px;
    margin-left: 15%;
}

.main p{
    color: rgb(82, 80, 80);
}

.author {
    font-size: 18px;
    margin-bottom: 40px;
}

.tittle {
    font-size: 32px;
    margin-bottom: 32px;
}

.content {
    font-size: 18px;
    margin-bottom: 27px;
}

.link {
    padding: 8px 16px 8px 16px;
}